<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="svcTC2APISoap">
                    <security mode="Transport" />
                </binding>
                <binding name="svcTC2APISoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="svcTC2APISoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://rs.alarmnet.com/tc21api/tc2.asmx"
                binding="basicHttpBinding" bindingConfiguration="svcTC2APISoap"
                contract="TotalControlService.svcTC2APISoap" name="svcTC2APISoap" />
            <endpoint address="https://rs.alarmnet.com/tc21api/tc2.asmx"
                binding="customBinding" bindingConfiguration="svcTC2APISoap12"
                contract="TotalControlService.svcTC2APISoap" name="svcTC2APISoap12" />
        </client>
    </system.serviceModel>
</configuration>